# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
air_bnb = pd.read_csv(r'C:\Users\bigbo\CodingTemple\Python\Air BnB\AB_NYC_2019 - AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [6]:
# How many neighborhood groups are available and which shows up the most?

# Identify and count the unique neighborhood groups
neighbourhood_group_counts = air_bnb['neighbourhood_group'].value_counts()

# Determine the number of unique neighborhood groups
unique_neighbourhood_groups = len(neighbourhood_group_counts)

# Identify the neighborhood group that appears the most and its count
most_common_group = neighbourhood_group_counts.idxmax()
most_common_count = neighbourhood_group_counts.max()

unique_neighbourhood_groups, most_common_group, most_common_count

(5, 'Manhattan', 21661)

In [7]:
# Are private rooms the most popular in manhattan?



# Filter data for listings in Manhattan
manhattan_data = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']

# Count the occurrences of each room type in Manhattan
manhattan_room_type_counts = manhattan_data['room_type'].value_counts()

# Identify the most common room type in Manhattan and its count
most_common_room_type_manhattan = manhattan_room_type_counts.idxmax()
most_common_room_type_count_manhattan = manhattan_room_type_counts.max()

most_common_room_type_manhattan, most_common_room_type_count_manhattan, manhattan_room_type_counts
#Answer Yes private rooms are more popular.

('Entire home/apt',
 13199,
 room_type
 Entire home/apt    13199
 Private room        7982
 Shared room          480
 Name: count, dtype: int64)

In [9]:
# Which hosts are the busiest and based on their reviews?

# Aggregate the total number of reviews by host_id
host_review_counts = air_bnb.groupby('host_id')['number_of_reviews'].sum()

# Sort the hosts by their total number of reviews in descending order
sorted_host_review_counts = host_review_counts.sort_values(ascending=False)

# Get the top 10 busiest hosts based on reviews
top_10_busiest_hosts = sorted_host_review_counts.head(10)

top_10_busiest_hosts
print('')

host_id
37312959     2273
344035       2205
26432133     2017
35524316     1971
40176101     1818
4734398      1798
16677326     1355
6885157      1346
219517861    1281
23591164     1269
Name: number_of_reviews, dtype: int64

In [10]:
#Which neighorhood group has the highest average price?


# Calculate the average price for each neighborhood group
average_price_by_neighbourhood_group = air_bnb.groupby('neighbourhood_group')['price'].mean()

# Identify the neighborhood group with the highest average price
highest_average_price_neighbourhood_group = average_price_by_neighbourhood_group.idxmax()
highest_average_price = average_price_by_neighbourhood_group.max()

highest_average_price_neighbourhood_group, highest_average_price, average_price_by_neighbourhood_group

('Manhattan',
 196.8758136743456,
 neighbourhood_group
 Bronx             87.496792
 Brooklyn         124.383207
 Manhattan        196.875814
 Queens            99.517649
 Staten Island    114.812332
 Name: price, dtype: float64)

In [11]:
# Which neighbor hood group has the highest total price?


# Calculate the total price for each neighborhood group
total_price_by_neighbourhood_group = air_bnb.groupby('neighbourhood_group')['price'].sum()

# Identify the neighborhood group with the highest total price
highest_total_price_neighbourhood_group = total_price_by_neighbourhood_group.idxmax()
highest_total_price = total_price_by_neighbourhood_group.max()

highest_total_price_neighbourhood_group, highest_total_price, total_price_by_neighbourhood_group

('Manhattan',
 4264527,
 neighbourhood_group
 Bronx              95459
 Brooklyn         2500600
 Manhattan        4264527
 Queens            563867
 Staten Island      42825
 Name: price, dtype: int64)

In [12]:
#Which top 5 hosts have the highest total price?


# Aggregate the total price by host_id
host_total_price = air_bnb.groupby('host_id')['price'].sum()

# Sort the hosts by their total price in descending order
sorted_host_total_price = host_total_price.sort_values(ascending=False)

# Get the top 5 hosts with the highest total price
top_5_hosts_highest_total_price = sorted_host_total_price.head(5)

top_5_hosts_highest_total_price

host_id
219517861    82795
107434423    70331
156158778    37097
205031545    35294
30283594     33581
Name: price, dtype: int64

In [13]:
# Who currently has no (zero) availability with a review count of 100 or more?



# Filter data for listings with zero availability and 100 or more reviews
no_availability_high_reviews = air_bnb[(air_bnb['availability_365'] == 0) & (air_bnb['number_of_reviews'] >= 100)]

# Extract unique host_ids from the filtered dataset
unique_hosts_no_availability_high_reviews = no_availability_high_reviews['host_id'].unique()

# Count of such hosts
count_hosts_no_availability_high_reviews = len(unique_hosts_no_availability_high_reviews)

count_hosts_no_availability_high_reviews, unique_hosts_no_availability_high_reviews
# Answer 148 hosts

(148,
 array([     7490,     79402,    129352,    193722,     67778,    239208,
           303939,    522065,    683975,    242506,    792159,   1311398,
          1358312,   1360043,     36897,   1492339,   1503831,   1649300,
          1935605,   1146958,   2265770,   2275829,   2361715,   1787284,
          1215949,   2494666,   3558158,   3778274,   3880974,   3955766,
          4129805,   1099716,   4434798,   5634395,    663764,    585273,
          6482637,   3571821,   6774871,   7581642,   5464042,   4983320,
          8732694,   1562642,   8910286,   9234456,   9268156,   3187531,
          1726966,  11947308,   3793026,  16266298,  16106756,  13337141,
         17820079,   3912009,  17224426,  18219988,  18834080,   9492212,
           610819,  22171095,  21641206,   6465286,  21688465,  17921968,
          3417940,  22210080,  25404246,  10795846,   7463662,  23719409,
         28723165,  30314132,  24561040,  31040344,  31150792,   1197823,
         25915648,  33750239,  23082955,   5577926,  36644635,  39603420,
         22959695,  40371157,  43509184,  10024006,  31104953,  44924546,
         23073564,  37818581,  48726094,  48970186,  22423049,  49511227,
          5291029,  50144728,  24175837,  36638599,  51954926,  21430239,
         27431753,   8049682,    814747,    790177,   3417090,  61972032,
           116382,  14898658,  67261284,  42399786,   6458590,  32357613,
         84779589,  87152012,  84141923,   9030221,  95419310,  92195100,
         26073602,  99392252,  96148809, 102080453, 103488282,   3479852,
         35998113,   2300134, 107296819,  94100043, 121391142,  31658624,
          3203397,  10402380, 138721769,  28270349,  94206273, 142878742,
        133810925, 143944704,  50760404,   7097558, 159156636, 127740507,
        176185168,  21074914,  40119874, 209549523], dtype=int64))

In [14]:
# What host has the highest total of prices and where are they located?


# Aggregate the total price by host_id
host_total_price = air_bnb.groupby('host_id')['price'].sum()

# Find the host_id with the highest total price
highest_price_host_id = host_total_price.idxmax()
highest_total_price = host_total_price.max()

# Find the location of the host's most expensive listing
host_highest_price_location = air_bnb[air_bnb['host_id'] == highest_price_host_id].iloc[0][['neighbourhood_group', 'neighbourhood']]

highest_price_host_id, highest_total_price, host_highest_price_location

(219517861,
 82795,
 neighbourhood_group             Manhattan
 neighbourhood          Financial District
 Name: 38293, dtype: object)

In [16]:
# When did Danielle from Queens last receive a review?

# Assume air_bnb is your DataFrame
# Convert 'last_review' to datetime format right at the beginning
air_bnb['last_review'] = pd.to_datetime(air_bnb['last_review'], errors='coerce')

# Filter for Danielle's listings in Queens
danielle_queens_listings = air_bnb[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group'] == 'Queens')]

# Ensure to work only with listings that have a review date
danielle_queens_listings_with_reviews = danielle_queens_listings.dropna(subset=['last_review'])

# Now, finding the most recent review date should be error-free
most_recent_review_date_danielle_queens = danielle_queens_listings_with_reviews['last_review'].max()

print(most_recent_review_date_danielle_queens)

#2019-07-08

2019-07-08 00:00:00

## Further Questions

1. Which host has the most listings?

In [20]:
# Find the host with the most listings
max_listings_host = air_bnb[air_bnb['calculated_host_listings_count'] == air_bnb['calculated_host_listings_count'].max()]

# Since there can be multiple entries for the same host, we'll drop duplicates to get unique host details
max_listings_host_unique = max_listings_host[['host_id', 'host_name', 'calculated_host_listings_count']].drop_duplicates()

max_listings_host_unique

         host_id     host_name  calculated_host_listings_count
38293  219517861  Sonder (NYC)                             327

2. How many listings have completely open availability?

In [21]:
# Count listings with completely open availability (availability_365 = 365 days)
open_availability_count = air_bnb[air_bnb['availability_365'] == 365].shape[0]

open_availability_count

1295

3. What room_types have the highest review numbers?

In [22]:
# Summing up the number of reviews by room type
reviews_by_room_type = air_bnb.groupby('room_type')['number_of_reviews'].sum()

# Sorting the sum of reviews to find the room type with the highest number of reviews
reviews_by_room_type_sorted = reviews_by_room_type.sort_values(ascending=False)

reviews_by_room_type_sorted

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

Based on the analysis of the questions Manhattan has the highest average listing price and the highest total price which could pose an issue to visitors who want to visit on a budget.